<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>buildablog</title>
    <!--<link href="style.css" rel="stylesheet" type="text/css" />-->
  </head>

  <header>
    <a href="https://Build-a-Blog.awomack333.repl.co">Home Page</a>&nbsp;&nbsp;&nbsp;
    <a href="https://Build-a-Blog.awomack333.repl.co/postpage">Add a Blog Post</a>
    <h1>Build-a-Blog INDIVIDUAL</h1>
  </header>

  <body>
    <br><br><h2>{{title}}</h2>
    <p>{{content}}</p><br><br>

</html>